table{
    border-color: yellow;
}

4-add-images-to-indexhtml

.im{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
=======
.para{
    display: flex;
    justify-content: center;
 main
}